[Unit]
Description=wwan_keep_alive

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/wwan_keep_alive.pl

[Install]
WantedBy=multi-user.target
