[Unit]
Description=wwan_setup

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/bin/bash /usr/local/bin/wwan_setup.sh

[Install]
WantedBy=multi-user.target