[Unit]
Description=Logs GPS data near-time using SSH to home.
Requires=gpsd.service

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/online_logger.sh
User=pi
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
